.text_stock {
    color: #000;
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.arrow_green_slide_left {
    width: 25px;
    height: 40px;
    display: flex;
    background: url(../img/left_arr_not.svg);
}

.arrow_green_slide_left:hover {
    background: url(../img/arr_act_green_left.svg);
}

.arrow_green_slide_right {
    width: 25px;
    height: 40px;
    display: flex;
    background: url(../img/right_arr_not.svg);
}

.arrow_green_slide_right:hover {
    background: url(../img/arr_act_green_rig.svg);
}


.slide_bar{
    background: #575757;
    width: 100%;
    height: 10px;
    display: flex;
}

.progress_bar{
    width: 100%;
    height: 10px;
    cursor: pointer;
}



.active_bar{
    width: 100%;
    height: 10px;
    display: flex;
    background: #2e9375;
    cursor: pointer;
}